h1
  / | hatoq.net
  img.top_logo[src="images/hatoqnet_logo.png" alt="はときゅねっと hatoq.net"]

.footer = format("%06d", @access_count)

/ ---- swiper ----
.swiper-container.gallery-top
  .swiper-wrapper
    - (1..6).each do |i|
      .swiper-slide
        img.swiper-image src="images/top_image_#{i}.png"
  .swiper-pagination
  .swiper-button-prev.swiper-button-white
  .swiper-button-next.swiper-button-white
  .swiper-scrollbar
.swiper-container.gallery-thumbs
  .swiper-wrapper
    - (1..6).each do |i|
      .swiper-slide
        img.swiper-image src="images/top_thumb_#{i}.png"

hr

p はときゅね
p イラストレーター、近代芸術家。現在、お仕事の受付は停止しております。

hr

- @top_links.each do |top_link|
  p
    = link_to top_link.link do
      / do not use div, use span (Rails issue?)
      / https://stackoverflow.com/questions/7187617/turn-a-div-into-a-link-in-rails
      - style = button_style(top_link)
      span.hover1.circle1[style=style] &#8203;
      span.hover1.circle2[style=style] &#8203;
      span.hover1.circle3[style=style] &#8203;
      span.hover1[style=style]
        = top_link.name
      span.hover1.circle4[style=style] &#8203;
      span.hover1.circle5[style=style] &#8203;
      span.hover1.circle6[style=style] &#8203;

hr

.footer designed by hatoqne_dm
.footer
  | <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="hatoq.&#8203net -はときゅねっと-" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

#page-top
= link_to "#page-top" do
  .back-to-top
    img src="images/back_to_top.png"

javascript:
  var galleryThumbs = new Swiper('.gallery-thumbs', {
    spaceBetween: 10,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesVisibility: true,
    watchSlidesProgress: true,
  });

  var galleryTop = new Swiper('.gallery-top', {
    spaceBetween: 10,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    thumbs: {
      swiper: galleryThumbs
    },
    direction: 'horizontal',
    loop: true,

    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },

    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },

    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });
